hardware/images/*
hardware/__pycache__
software/output_inference_graph/*
software/__pycache__
software/fails
software/fails/*
deprecated/*
td*/
log.txt
*.pyc
*.jpg
*.png
*.jpeg
*.xml
*.zip
*.swp
.DS_Store

output_inference_graph/*
*.pb
model_ckpt.*
model_ckpt-*.*
